@{
    ViewData["Title"] = "Home Page";
}

@model List<Post>

    <h1>Welcome to CRUDelicious</h1>

    <hr>
    <h4>Check out some recent dishes!</h4> 

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3>Dishes</h3>
          <table class="table table-striped">
              <tr>
                  <th>Dish Name</th>
                  <th>Chef's Name</th>
              </tr>
              @foreach(Post post in Model)
              {
                <tr>
                    <td><a asp-controller="Home" asp-action="Details" asp-route-dishId="@post.DishId">@post.Name</a></td>
                    <td>@post.Chef</td>
                </tr>
              }
          </table>
        </div>
      </div>
    </div>
    <a href="new" class="btn btn-primary">Add a new recipe</a>
    
    
